<!DOCTYPE html>
<html>
<head>
	<title>Symptom Disease Prediction</title>
</head>
<body>
<h2>Put value in 0 and 1 (0:if not having symptom and 1:if having symptom)</h2>
	
	<form method= "POST" action="/symptom">


			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">Abdomen acute</label>
		<div>
			<input id="element_1" name="Abdomen_acute" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Abdominal tenderness</label>
		<div>
			<input id="element_2" name="Abdominal_tenderness" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Abnormally hard consistency</label>
		<div>
			<input id="element_3" name="Abnormally_hard_consistency" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Abortion</label>
		<div>
			<input id="element_4" name="Abortion" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Abscess bacterial</label>
		<div>
			<input id="element_5" name="Abscess_bacterial" class="element text small" type="text" maxlength="255" value=""/>
		</div>
				</li>		<li id="li_6" >
		<label class="description" for="element_6">Absences finding</label>
		<div>
			<input id="element_6" name="Absences_finding" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Achalasia</label>
		<div>
			<input id="element_7" name="Achalasia" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Agitation</label>
		<div>
			<input id="element_8" name="Agitation" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Air fluid level</label>
		<div>
			<input id="element_9" name="Air_fluid_level" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>

			</ul>

		
		<div>
			<input type='submit' value='Predict' name='submit'>
		</div>
	</form>


</body>
</html>
