<!DOCTYPE html>
<html>
<head>
	<title>Select</title>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
</style>
</head>
<body>
<a href='/results' class="btn btn-danger">Heart Prediction</a>
<a href='/results1' class="btn btn-danger">Symptom Disease Prediction</a>
<a href='/results2' class="btn btn-danger">Diet Prediction</a>
</body>
</html>